* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
}

.Accessible {
    display: grid;
    grid-template-columns: 250px 145px;
    border: 2px solid #000;
    border-radius: 20px;
    width:470px;
    padding: 30px;
    margin: 10px;
    gap: 50px;
    height: 300px;
}

.Left-Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    Width: 250px;
    height: 300px;
}

.Right-Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    Width: 145px;
    height: 300px;
}

.left-big-text {
    font-size: 17px;
}

.left-1-input {
    border: #000 solid 2px;
    border-radius: 8px;
    width:100%;
    height: 30px;
    padding-left: 5px;
}

.formochki-left {
    display: flex;
    flex-direction: column;

}

#email {
    border: red solid 2px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    padding-left: 5px;
}

#email::placeholder {
    color: red;
}

#email-p {
    color: red;
    font-size: 15px;
}

.div-input {
    border: none;
    width: 80%;
    height: 28px;
}

.div-i-l {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: #000 solid 2px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
}

button {
    all: unset;       /* Скидає ВСІ стилі */
    cursor: pointer;  /* Робить курсор "рукою", як у кнопки */
  }

.label-last {
    color: rgb(112, 115, 117);
    text-decoration: line-through;
}

.div-input input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
